:root[color-theme='light'] {
  --main-bg: #fff;
  --main-board-bg: #dbdbdb;
  --main-color: #222;
  --btn-default: #007bff;
  --btn-hover: #0056b3;
  --border-color: #333;
  --modal-bg: #fff;
  --modal-color: #222;
  --robot-selected: #000;
  --robot-active: #000;
  --target-bg: #ef4444;
  --target-border: #fff;
  --game-board-bg: #fff;
  --game-board-border: #333;
  --instructions-color: #666;
  --count-color: #2563eb;
}
:root[color-theme='dark'] {
  --main-bg: #181818;
  --main-board-bg: #282828;
  --main-color: #eee;
  --btn-default: #2563eb;
  --btn-hover: #60a5fa;
  --border-color: #404040;
  --modal-bg: #282828;
  --modal-color: #eee;
  --robot-selected: #e0e0e0;
  --robot-active: #e0e0e0;
  --target-bg: #ef4444;
  --target-border: #222;
  --game-board-bg: #2d2d2d;
  --game-board-border: #404040;
  --instructions-color: #b0b0b0;
  --count-color: #60a5fa;
}